
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    user-select: none;
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.main{
    
   /* border: 2px solid red;*/
    display: flex;
}

.blocking{
    height: 70px;
    width: 390px;
    display: block;
    position: fixed;
    transform: rotate(360deg);
    
    bottom: -10px;
    
    background-color: black;
    border-top: 1px solid rgb(133, 131, 131);
}

#side{
    
    transform: rotate(360deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    height: 70px;
    width: 390px;
    position: sticky;
    user-select: none;
}
.icons{
    
    
    width: 150px;
    height: 60px;
    margin-left: -50px;
    margin-bottom: 10px;
}

#instalogo{
    display: none;
}

.icons:hover{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    width: 180px;
    
    cursor: pointer;
}

#posttag{
    
    text-decoration-line: overline;
    color: white;
    
}

#tag{
    border-top: 1px solid rgb(121, 120, 120);
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 550px;
    left: 60px;
}
#tag h5{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 45px;
}

.top{ 
    margin-top: 35px;
}

.top:hover{
    background-color: black;
    width: 150px;
}
.top img{
    height: 31px;
    width: 100px;
}

#story{
    
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 430px;
    width: 390px;
    margin-left: 70px;
    border: none
}


#dp{
    margin-top: -420px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 150px;
    cursor: pointer;
    margin-left: -250px;
   
}

#gobhi{
    
    width: 85px;
    height: 85px;
    
}

#gobhi img{
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

#dpcontent{
    margin-top: -400px;
    height: 100px;
    width: 150px;
    cursor: pointer;
    margin-left: 10px;
}

.trouble{
    margin-top: -140px;
}

.qu{
    display: flex;
}

.qu button{
    position: absolute;
    top: 100px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-radius: 9px;
    border: none;
    margin-left: 20px;
}

.qu button:hover{
    background-color: rgb(216, 213, 213);
}

#set{
    margin-top: 3px;
    margin-left: 10px;
}

h2{
    font-size: 19px;
    font-weight: lighter;
    
}

#ram{
    margin-top: 20px;

}

h5{
    font-size: 14px;
    font-weight: lighter;
    color: rgb(213, 213, 213);
}

.text{
    position: absolute;
    top: 180px;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.kilo{
    position: relative;
    top: 300px;
    left: -50px;
    
}

#jbp{
    margin-top: -13px;
}

#master{
    width: 130px;
    height: 130px;
    
    margin-top: 60px;
    margin-left: -550px;
}

#master img{
    width: 100%;
    height: 100%;
}

#ghar a{
    text-decoration: none;
    margin-top: 5px;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(224, 222, 222);
}

#copy{
    position: absolute;
    top: 800px;
    left: 50px;
}

#story::-webkit-scrollbar{
    width: 0;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 70px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    top: 320px;
    left: 40px;
    
    
}

.meristory{
    min-width: 60px;
    width: 60px;
    line-height: 86px;
    height: 60px;
    border: 2px solid rgb(101, 92, 92);
    border-radius: 50px;
}

.meristory img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.box .your{
     border: 3px solid rgb(238, 33, 81);
    
}

.bark{
    color: white;
}

#content{
    /*border: 2px solid green;*/
    height: 100%;
    width: 100%;
}

#feed{
    display: flex;
    /*border: 2px solid rgb(225, 255, 0);*/
    height: 100vh;
    width: 100%;
}

#posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 550px;
    /*border: 2px solid white;*/
    margin-left: 400px;
}

#posts .oop{

    width: 500px;
    min-height: 900px;
    height: 900px;
    border-bottom: 1px solid rgb(65, 65, 65);
    margin-bottom: 25px;
}

#posts .oop .underpost{
    display: flex;
    align-items: center;
    width: 500px;
    height: 50px;
    cursor: pointer;
    /*border: 2px solid orangered;*/
}

.underpost .ex{
    
    height: 40px;
    width: 40px;
}

.underpost .ex img{
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

#caughtup{
    width: 300px;
    min-height: 500px;
    height: 500px;
    
    
}

#honey{
    width: 500px;
    min-height: 420px;
    height: 420px;
}
#honey img{
    width: 100%;
    height: 100%;
}

.sai{
    margin-top: 4px;
    color: rgb(203, 200, 200);
}
.off{
    color: rgb(231, 229, 229);
}
.ago{
    color: rgb(159, 157, 157);
}

.headline{
    margin-left: 11px;
}

.Tdot{
    position: relative;
    left: 200px;
    color: white;
    font-size: 16px;
}

.pdot{
    left: 340px;
}

#appleblue{
    margin-left: -10px;
    margin-top: -12px;
}

#fool{
    margin-left: -80px;
}
#posts .oop .forum{
    margin-top: 10px;
    width: 500px;
    height: 600px;
    border: 1px solid rgb(48, 47, 47);
    border-radius: 7px;
}


#posts .oop .forum img{
    width: 100%;
    height: 100%;
    
}

.underpost .control{
    height: 35px;
    width: 35px;
    /*border: 2px solid red;*/
    margin: 5px;
}
.underpost .control img{
    height: 27px;
    width: 27x;
  
}

.underpost .chit img{
    margin-bottom: 9px;
    height: 30px;
    width: 30px;
}
.underpost .chit{
    margin-bottom: 9px;
   
}
.underpost .web{
    position: relative;
    left: 338px;
    
   
}

#lambo{
    margin-left: -107px;
}

.bluetick{
    margin-top: -10px;
    margin-left: 7px;
}
.fully{
    display: flex;
    flex-direction: column;
    margin-left: -160px;
}

.murli{
    margin-top: 7px;
    margin-left: -143px;
}

.trans{
    color: white;
    margin-top: 5px;
    margin-left: -89px;
}

.dev{
    color: rgb(121, 120, 120);
    font-weight: lighter;
    margin-top: 5px;
    margin-left: -38px;
}

.polo{
    font-weight: lighter;
}
.savin{
    display: flex;
    align-items: center;
    margin-left: -3px;
    margin-top: 10px;
}
#suggest{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 70px;
    top: -130px;
    height: 500px;
    width: 350px;
    
    cursor: pointer;
}

#suggest .khand{
    display: flex;
    align-items: center;

    width: 320px;
    height: 50px;
    margin-bottom: 10px;
    
    cursor: pointer;
}

.khand .subox{
    height: 40px;
    width: 40px;
}

.khand .subox img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.newt{
    margin-top: 2px;
}
#eee{
    display: flex;

}

#fr{
    height: 60px;
    width: 60px;
}

#fr img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.yyy{
    margin-left: 13px;
}
h4{
    
    font-size: 14px;
    color: rgb(212, 208, 208);
}

.newt{
    color: rgb(159, 157, 157);
}
.oldt{
    color: rgb(88, 87, 87);
    margin-top: 14px;
    
}
#footer{
    font-size: 13px;
    font-weight: lighter;
    color: rgb(88, 87, 87);
    margin-bottom: 10px;

}

.zzz{
    position: absolute;
    right: 28px;
}

h6{
    font-size: 12px;
    font-weight: lighter;
    color: rgb(34, 147, 246);
}

h6:hover{
    color: white;
}

#seeall{
    color: white;
}
#seeall:hover{
    color: rgb(88, 87, 87);
}
.mega{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pointx{

    height: 50px;
    width: 50px;
}

.pointy{
    display: none;
    width: 0px;
    height: 0px;
}

.botty{
    margin-top: 60px;
}

.icons .chaticon img{
    display: none;
 width: 39px;
 height: 39px;
 margin-left: -3px;
}

#profile{
    width: 30px;
    height: 30px;
    margin-left: 35px;
}
#profile img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

#home{
    margin-left: 35px;
    font-size: 35px;

}
#search{
    margin-left: 35px;
    font-size: 35px;
}


#reel img{
    height: 29px;
    width: 29px;
    margin-left: 45px;
}

#heart{
    font-size: 27px;
    margin-left: 25px;
}

#create img{
    height: 23px;
    width: 23px;
    margin-left: 35px;
}

#menu{
    display: none;
    font-size: 30px;
    margin-left: 2px;
}

h3{
    margin-top: 5px;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(224, 222, 222);
}

.well{
    margin-top: 19px;
    margin-right: 30px;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(224, 222, 222);
}

#logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 220px;
    left: 20px;
    height: 400px;
    width: 270px;
    border-radius: 14px;
    background-color: rgb(45, 45, 45);
    display: none;
    
}

#logout h4{
    color: rgb(237, 235, 235);
    font-weight: lighter;
}
#logout h3{
    color: rgb(159, 157, 157);
    
}

#logout .kk{
    user-select: none;
    display: flex;
    align-items: center;
    width: 260px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    /*border: 2px solid white;*/
    border-radius: 7px;
    
}
#logout .kk:hover{
    background-color: rgba(88, 87, 87, 0.83);
    cursor: pointer;
}

.kk .cola{
    margin-left: 10px;
    height: 25px;
    width: 25px;
   
}

.kk .ekta{
    position: absolute;
    right: 20px;
}

.kk .ch{
    width: 150px;
}

#down{
    position: relative;
    top: 18px;
    left: -100px;
}

#mota{
    width: 270px;
    height: 9px;
    background-color: rgba(76, 75, 75, 0.91);
    border: none;
}

#patla{
    width: 270px;
    border: 1px solid rgba(76, 75, 75, 0.91);
}

.whiteheart{
    position: absolute;
    bottom: 100px;
    left: 615px;
}
.whiteheart img{
    animation: heartgrow 1.2s ease-in;
    -webkit-animation: heartgrow 1.2s ease-in;
}
.whitehearttwo{
    position: absolute;
    top: 1450px;
    left: 615px;
}
.whitehearttwo img{
    animation: heartgrow 1.2s ease-in;
    -webkit-animation: heartgrow 1.2s ease-in;
}
.whiteheartthree{
    position: absolute;
    top: 3300px;
    left: 615px;
}
.whiteheartthree img{
    animation: heartgrow 1.2s ease-in;
    -webkit-animation: heartgrow 1.2s ease-in;
}

@keyframes heartgrow {
    25%{
        opacity: 0.8;
    }

    50%{
        
        opacity: 0.6;
    }

    75%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
    }

}
